@import "../settings/settings.colors";
@import "../settings/settings.fonts";
@import "../settings/settings.global";
body {
	margin: 0;
	padding: 0;
	font-size: $page-font-size;
	font-family: $font-proxima-nova, "Fira Sans", "Droid Sans", "Helvetica Neue",
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $page-bg;
}