/*
This is how css architecture is organized https://github.com/inuitcss/inuitcss
For naming convention we use BEM.

/settings: Global variables, site-wide settings, config switches, etc.
/tools: Site-wide mixins and functions.
/generic: Low-specificity, far-reaching rulesets (e.g. resets).
/elements: Unclassed HTML elements (e.g. a {}, blockquote {}, address {}).
/objects: Objects, abstractions, and design patterns (e.g. .o-layout {}).
/components: Discrete, complete chunks of UI (e.g. .carousel {}). This is the one layer that inuitcss doesn’t provide code for, as this is completely your terrain.
/utilities: High-specificity, very explicit selectors. Overrides and helper classes (e.g. .u-hidden {}).
*/

// SETTINGS
$inuit-global-font-size: 10px;
$inuit-global-line-height: 15px;
@import "components/settings/settings.global";
@import "components/settings/settings.fonts";
@import "components/settings/settings.colors";
@import "~inuitcss/settings/settings.core";

// TOOLS
@import "~inuitcss/tools/tools.clearfix";
@import "~inuitcss/tools/tools.font-size";
/*@import "node_modules/sass-mq/mq";
@import "tools/tools.aliases";*/

// GENERIC
@import '~normalize.css/normalize';
@import "~inuitcss/generic/generic.box-sizing";
@import "~inuitcss/generic/generic.shared";
@import "components/generic/generic.fonts";

// ELEMENTS
@import "~inuitcss/elements/elements.page";
@import "~inuitcss/elements/elements.headings";
@import "components/elements/elements.body";
/*@import "elements/elements.links";*/

// OBJECTS
@import "components/objects/objects.a11y";
/*@import "~inuitcss/objects/objects.media";
@import "~inuitcss/objects/objects.flag";
@import "~inuitcss/objects/objects.list-bare";
@import "~inuitcss/objects/objects.list-inline";
@import "~inuitcss/objects/objects.box";
@import "~inuitcss/objects/objects.block";
@import "~inuitcss/objects/objects.table";*/

// COMPONENTS
#root {
	min-width: 900px;
}
main {
	display: flex;
}
@import "components/NavItem/components.NavItem";
@import "components/TopBar/components.TopBar";
@import "components/Nav/components.Nav";
@import "components/Logo/components.Logo";
@import "components/UserProfile/components.UserProfile";
@import "components/SubNav/components.SubNav";

// UTILITIES
@import "~inuitcss/utilities/utilities.widths";
@import "~inuitcss/utilities/utilities.headings";
@import "~inuitcss/utilities/utilities.spacings";